body {
	text-align: center;
}

header#homepage {
	background-color: #000;
}


header .title {
	color: #fff;
	background: url("../img/ScottZou_Big.png") center center no-repeat;
	background-size:70%;
}